.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    img {
        max-height: 100%;
        animation: spin 1s infinite linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
