$breakpoint-sm: 360px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1290px;

$color-primary: #f4e041;
$color-primary-alt: #ffe302;
$color-secondary: #00bdd3;
$color-error: #cb3d40;
$color-black-87: rgba(0, 0, 0, 0.87);
