@use '../../../../assets/css/utils' as *;

.form-input {
    position: relative;
    width: 100%;

    input {
        width: 100%;
        margin: 0;
        padding: 13px 15px;
        border: 1px solid #d0cfcf;
        border-radius: 4px;
        background-color: transparent;
        font-size: 16px;
        line-height: 26px;
        appearance: none;
        outline: none;
        transition: border-color 0.3s;

        &.is-empty {
            &:not(:focus) {
                & ~ label {
                    top: 14px;
                    transform: none;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }

    label {
        position: absolute;
        left: 12px;
        top: 0;
        transform: translateY(-50%);
        padding: 0 4px;
        background-color: #f8f8f8;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #7e7e7e;
        pointer-events: none;
        transition:
            top 0.3s,
            transform 0.3s,
            font-size 0.3s;
    }

    &__helper {
        position: absolute;
        top: calc(100% + 4px);
        left: 16px;
        font-size: 12px;
        line-height: 14px;
        color: #7e7e7e;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color 0.3s;
    }

    &--error {
        label {
            color: $color-error;
        }

        input {
            padding: 12px 14px;
            border: 2px solid $color-error;
        }

        .form-input {
            &__helper {
                color: $color-error;
            }
        }
    }
}
